# enable PHP error logging
# php_flag  log_errors on
# php_value error_log  /home/zatchtech/public_html/PHP_errors.log
<IfModule mod_rewrite.c>
   RewriteEngine On 
   RewriteRule ^(.*)$ public/$1 [L]
</IfModule>